# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.log

# Virtual environment
.venv/
env/
venv/

# Node / React
node_modules/
dist/
build/

# OS files
.DS_Store
Thumbs.db

# Environment variables
.env

# pdf files
*.pdf

# Ignore large RxNorm datasets
data/RxNorm_full_prescribe_03022026/
*.RRF